@import 'src/styles/colors.scss';
@import 'src/styles/variables.scss';

.navbar-container {
  padding-top: $headerHeight;
}

#navbar {
  background-color: $primary;
  color: white;
  height: $headerHeight;
}

.fas {
  color: white;
}
